{% extends 'administrator_base.html.twig' %}

{% block title %}Новая метка{% endblock %}

{% block body %}

    <style>
        .input-text {
            margin-top: 30px;
        }

        .input-submit {
            margin-top: 10px;
        }
    </style>

    <div class="container">
        {{ form_start(form) }}
        <div class="input-text">
            {{ form_row(form.name, {
                'label': 'Новая метка',
                'attr': {'class': 'form-control'}
            }) }}
        </div>
        <div class="input-submit">
            <input class="btn btn-primary" value="Сохранить" type="submit">
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}
