{% extends 'base.html.twig' %}

{% block title %}Категории тегов{% endblock %}

{% block body %}

    <table>
        <thead>
            <th scope="col">Tag kind</th>
{#            <th scope="col">Action</th>#}
        </thead>
        <tbody>
        {% for kind in tagKinds %}
            <tr>
                <td>{{ kind.name }}</td>
                <td>
{#                    <a href="{{ path('admin_tagKind_delete', {'id': kind.id}) }}" class="btn btn-danger">Delete</a>#}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
