{% extends 'base.html.twig' %}

{% block title %}Hello FindController!{% endblock %}

{% block body %}

    <a href="{{ path('admin_items_new') }}">Новый предмет</a>
    <a href="{{ path('admin_items') }}">Все предметы</a>

    {{ form(form) }}

{#    {% for tag in form.tags %}#}
{#        {{ form_row(tag.name) }}#}
{#    {% endfor %}#}

{% endblock %}
