{% extends 'administrator_base.html.twig' %}

{% block title %}Hello TagController!{% endblock %}

{% block body %}

   <style>
      button[type="submit"] {
         margin-top: 10px;
      }
   </style>

   <div class="container" style="margin-top: 30px">

      {{ form(form) }}
   </div>

{% endblock %}
