{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}

{% block body %}

    <h1>Order success!</h1>
    <h2>Return to list of <a href="{{ path('find') }}">gifts</a></h2>


{% endblock %}
