{% extends 'base.html.twig' %}

{% block title %}Hello ItemController!{% endblock %}

{% block body %}

    <div class="container">
        <div class="buttons-header">
            <a href="{{ path('admin_items_new') }}" class="btn btn-primary">New item</a>
        </div>
        <div class="items">
            {% for item in items %}
                <div class="item">
                    <div class="item-content">
                        <div class="item-name">
                            <a href="{{ path('admin_item_info', {'id': item.id}) }}">{{ item.name }}</a>
                        </div>
                        <div class="item-description">
                            {{ item.description }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}
